<a href="https://colab.research.google.com/github/aminerhioui/C-project/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

df=pd.read_csv("pokemon_data.csv")
print(df)

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [22]:
#read Headers
#df.columns
#read Columns
#df[['Name','Type 1']]
#read Each Row
#df.iloc[1:4]
df.loc[df['Type 1']=='Grass']
#read a specific Location(R,C)
#df.iloc[1,1]

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
48    43                 Oddish  Grass  ...    30           1      False
..   ...                    ...    ...  ...   ...         ...        ...
718  650                Chespin  Grass  ...    38           6      False
719  651              Quilladin  Grass  ...    57           6      False
720  652             Chesnaught  Grass  ...    64           6      False
740  672                 Skiddo  Grass  ...    52           6      False
741  673                 Gogoat  Grass  ...    68           6      False

[70 rows x 12 columns]

SORTING/DESCRIBING DATA

In [27]:
#df.describe()
#df.sort_values(['Name','Type 1'],ascending=[1,0])

       #                     Name   Type 1  ... Speed  Generation  Legendary
510  460                Abomasnow    Grass  ...    60           4      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
68    63                     Abra  Psychic  ...    90           1      False
392  359                    Absol     Dark  ...    75           3      False
393  359          AbsolMega Absol     Dark  ...   115           3      False
..   ...                      ...      ...  ...   ...         ...        ...
632  571                  Zoroark     Dark  ...   105           5      False
631  570                    Zorua     Dark  ...    65           5      False
46    41                    Zubat   Poison  ...    55           1      False
695  634                 Zweilous     Dark  ...    58           5      False
794  718         Zygarde50% Forme   Dragon  ...    95           6       True

[800 rows x 12 columns]

make change to data

In [46]:
df['Total']=df['HP']+df['Attack']
df.head()
df.drop(columns=['Total'])
df['Tota']=df.iloc[:, 4:10].sum(axis=1)
df.head()
cols=list(df.columns)
print(cols)
df=df[cols[0:4]+[cols[-1]]+cols[4:12]]
df.head(5)

['#', 'Name', 'Type 1', 'Type 2', 'Total', 'Tota', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation']

   #                   Name Type 1  Type 2  ...  Defense  Sp. Atk  Sp. Def  Speed
0  1              Bulbasaur  Grass  Poison  ...       49       65       65     45
1  2                Ivysaur  Grass  Poison  ...       63       80       80     60
2  3               Venusaur  Grass  Poison  ...       83      100      100     80
3  3  VenusaurMega Venusaur  Grass  Poison  ...      123      122      120     80
4  4             Charmander   Fire     NaN  ...       43       60       50     65

[5 rows x 13 columns]

saving our data

In [ ]:
#df.to_csv('modified.csv',index=False)

Filtering Data